<template>
  <div class="c-form-builder__form-field">
    <Field :type="type" :validation="{}" :errors="{}"/>
  </div>
</template>

<script>
import Field from '../atoms/Field.vue'
import CustomField from '../atoms/CustomField.vue'
import Error from '../atoms/Error.vue'

export default {
  name: 'FormField',
  props: {
    type: {
      type: [String, Boolean],
      default: false
    }
  },
  components: { Field, CustomField, Error },
  computed: {
    builder
  }
}
</script>

<style>

</style>