<template>
  <div :class="[
      'c-form-builder__error',
      { 'c-form-builder__error--right': rightIcon }
    ]"
  >
    <slot/>
    {{ label }}
  </div>
</template>

<script>
export default {
  name: 'Error',
  props: {
    label: {
      type: String,
      required: true
    },
    rightIcon: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style>
.c-form-builder__error {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.c-form-builder__error--right {
    flex-direction: row-reverse;
}
</style>